<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>803548605147-j9gnf48ei2p61ngvl9is3kdi1caefrdv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.803548605147-j9gnf48ei2p61ngvl9is3kdi1caefrdv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>803548605147-l7daf84ndtf9k4bk2sdkkgfb4o7evp57.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDA5YltJJPDOXSTXQnllXax1f_lPjD7HLc</string>
	<key>GCM_SENDER_ID</key>
	<string>803548605147</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dashMobile</string>
	<key>PROJECT_ID</key>
	<string>dash-7cdea</string>
	<key>STORAGE_BUCKET</key>
	<string>dash-7cdea.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:803548605147:ios:ca59357ffcf7921cfc3afe</string>
</dict>
</plist>